.container {
  color: var(--text-color);

  .icons {
    justify-content: center;;
  }

  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);

    .form-group {
      margin-bottom: 15px;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .form-control {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: var(--background-color);
      color: var(--text-color);
    }

    .form-control:focus {
      border-color: #66afe9;
      outline: none;
      box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    }

    .form-group.invalid .form-control {
      border-color: #e3342f;
    }

    .form-group.invalid .form-control:focus {
      border-color: #e3342f;
      box-shadow: 0 0 8px rgba(227, 52, 47, 0.6);
    }

    .error-message {
      color: #e3342f;
      font-size: 14px;
      margin-top: 5px;
    }

    .submit-button {
      display: inline-block;
      border: none;
      margin-top: 20px;
      text-decoration: none;
      font-size: 16px;
      border-radius: 12px;
      padding: 10px 20px; /* Initial padding */
      position: relative; /* Added for positioning child elements */
      overflow: hidden; /* Ensures that the send-icon doesn't overflow the button */
      transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease, width 0.3s ease; /* Smooth transition */
      border: 2px solid var(--text-color);
      background-color: var(--background-color);
      color: var(--text-color);

      &:disabled {
        border: none;
        background-color: #aaa;
        color: #fff;
        cursor: not-allowed;
      }

      &:hover:not(:disabled) {
        background-color: var(--text-color);
        color: var(--background-color);
        border: 2px solid var(--text-color);
        padding-right: 40px; /* Increase padding to show send-icon */
        cursor: pointer;
      }
    
      .send-icon {
        opacity: 0; /* Initial state: hidden */
        transform: translateX(-20px); /* Initial position */
        transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
        position: absolute; /* Positioned absolutely */
        top: 50%; /* Center vertically */
        right: 16px; /* Position relative to the button */
        transform: translateY(-50%) translateX(-20px); /* Initial position */
      }
    
      &:hover:not(:disabled) .send-icon {
        opacity: 1; /* Make visible */
        transform: translateY(-50%) translateX(0); /* Move into place */
      }
    }
  }

  a {
    color: var(--text-color);
  }
}

@media (max-width: 767px) {
  .container {
    .contact-form {
      max-width: 100%; /* Full width for smaller screens */
      padding: 15px; /* Reduce padding */
      box-shadow: none; /* Remove box shadow */
      border-radius: 0; /* Remove border radius */
      border-width: 0; /* Remove border width */

      .submit-button {
        font-size: 14px; /* Reduce font size */
        padding: 8px 16px; /* Adjust padding */
        border-radius: 8px; /* Smaller border radius */

        .send-icon {
          right: 10px; /* Adjust position of the send icon */
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    .icons {
      justify-content: space-around;
    }
    .contact-form {
      padding: 10px; /* Further reduce padding for very small screens */

      .form-group {
        margin-bottom: 10px; /* Reduce margin between form groups */
      }

      label {
        font-size: 14px; /* Reduce label font size */
      }

      .form-control {
        padding: 8px; /* Reduce padding */
      }

      .error-message {
        font-size: 12px; /* Smaller error message font size */
      }

      .submit-button {
        font-size: 12px; /* Further reduce font size */
        padding: 6px 12px; /* Reduce padding */
        border-radius: 6px; /* Smaller border radius */
        
        .send-icon {
          right: 8px; /* Adjust position of the send icon */
        }
      }
    }
  }
}
