<div class="container mt-5 about-me">
  <div class="row">
    <div class="col-md-4 text-center">
      <img [src]="profile.imagePath" class="img-fluid rounded shadow" alt="Hakan İSMAİL" />
    </div>
    <div class="col-md-8 paragraph">
      <h2>About Me</h2>
      <p *ngFor="let paragraph of profile.aboutMe">{{ paragraph }}</p>
    </div>
  </div>

  <hr class="my-5" />

  <div class="row">
    <div class="col-md-6 skills">
      <h3>Skills</h3>
      <div class="skills-list">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let skill of profile.skills">{{ skill }}</li>
        </ul>
      </div>
    </div>    
    <div class="col-md-6 interests">
      <h3>Interests</h3>
      <p>{{ profile.interests }}</p>
    </div>
  </div>
</div>
